* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Times New Roman' ,sans-serif;
    line-height: 1.2;
}

/*NAVBAR*/

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 5px 0;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    margin: 5px 0;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 10px;
}


a:link, a:visited{
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: blue ;
}

a:active {
    color: #2e5491;
}

/* HEADER CONTAİNER */

.header-container {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text-container {
    width: 600px;
    margin-right: 74px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.paragraf {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    padding: 30px 0;
}

button {
    width: 100px;
    margin: 5px 0;
    padding: 8px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #3882F6;
    color: #fff;
}

button:active {
    background-color: #03275f;
}


/* Information-Container*/

.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.information-container  img {
    border: 3px solid blue;
    border-radius: 15px;
    padding: 0;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}

.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-text {
    width: 250px;
    height: 350px;
    text-align: center;
}

/* Quote-Container*/ /*Burada çok boş kodlama yaptım gibi hissediyorum*/

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.content {
   width: 900px;
   height: 400px;
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-man {
    font-size: 22px;
    align-self: flex-end;
}

/* Clicker-Container */ 

.clicker-container {
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicker-container button {
   width: 100px;
   margin: 5px 0;
   padding: 8px;
   border: 1px solid #fff;
   border-radius: 10px;
   background-color: #3882F6;
}

.clicker-container button:active {
    background-color: #2e5491;
}

.blue-container {
    width: 1000px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    color: #fff;
}


/* Footer */

.footer {
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #fff;
}